In [1]:
#Import relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_pacf,plot_acf
from statsmodels.tsa.arima_model import ARMA
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.arima.model import ARIMA
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Import functions notebook and load data set here
import sys
sys.path.append("../")
from time_series_functions import *

In [3]:
df=pd.read_csv('../zillow_data.csv')

In [4]:
df=melt_data2(df)

In [5]:
df.set_index('time',inplace=True)

In [6]:
# Rename RegionName to be Zipcode
df=df.rename({'RegionName':'Zipcode'},axis='columns')

In [7]:
#drop no longer relevant columns
df.drop(['RegionID','SizeRank','City','CountyName'],axis=1,inplace=True)

In [8]:
Arizona_df= df[(df['State'] == 'AZ')]

In [9]:
Arizona_df

            Zipcode State     Metro     value
time
1996-04-01    85032    AZ   Phoenix   95400.0
1996-04-01    85710    AZ    Tucson   94600.0
1996-04-01    85225    AZ   Phoenix  101200.0
1996-04-01    85308    AZ   Phoenix  124800.0
1996-04-01    85281    AZ   Phoenix   81200.0
...             ...   ...       ...       ...
2018-04-01    86332    AZ  Prescott  172500.0
2018-04-01    85645    AZ    Tucson  152300.0
2018-04-01    85928    AZ  Show Low  225100.0
2018-04-01    85637    AZ   Nogales  320000.0
2018-04-01    85611    AZ   Nogales  269000.0

[58775 rows x 4 columns]

In [10]:
Arizona_recent_yrs=Arizona_df['2009-01-01':'2018-04-01']

In [11]:
Arizona_recent_yrs

            Zipcode State     Metro     value
time
2009-01-01    85032    AZ   Phoenix  190200.0
2009-01-01    85710    AZ    Tucson  171100.0
2009-01-01    85225    AZ   Phoenix  179900.0
2009-01-01    85308    AZ   Phoenix  212000.0
2009-01-01    85281    AZ   Phoenix  181300.0
...             ...   ...       ...       ...
2018-04-01    86332    AZ  Prescott  172500.0
2018-04-01    85645    AZ    Tucson  152300.0
2018-04-01    85928    AZ  Show Low  225100.0
2018-04-01    85637    AZ   Nogales  320000.0
2018-04-01    85611    AZ   Nogales  269000.0

[25520 rows x 4 columns]

In [12]:
Phoenix_data = Arizona_recent_yrs[(Arizona_recent_yrs['Metro'] == 'Phoenix')]

In [13]:
Phoenix_data
Phoenix_data=Phoenix_data.drop(['State','Metro'],axis=1)

In [14]:
top_10_zips_phx=Phoenix_data[(Phoenix_data['Zipcode'] == 85253)|(Phoenix_data['Zipcode'] == 85262)|
(Phoenix_data['Zipcode'] == 85377)| (Phoenix_data['Zipcode'] == 85255)|(Phoenix_data['Zipcode'] == 85266)|
                             (Phoenix_data['Zipcode'] == 85259)|(Phoenix_data['Zipcode'] == 85258)|
                             (Phoenix_data['Zipcode'] == 85018)|(Phoenix_data['Zipcode'] == 85263)|
                             (Phoenix_data['Zipcode'] == 85054)]

In [ ]:
zip_zipcode=top_10_zips_phx[top_10_zips_phx['Zipcode']==85018]